@import "tailwindcss";

:root {
  --background: #1E293B;
  --cardColor: #334155;
  --leftSidebar: #334155;
  --borderColor: #334155;
  --primaryBtn: #2DD4BF;
  --highlight: #14B8A6;
  --textPrimary: #F8FAFC
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--textPrimary);
  font-family: Arial, Helvetica, sans-serif;
}
