@import "tailwindcss";

:root {
  --background: #1E293B;
  --cardColor: #334155;
  --leftSidebar: #334155;
  --borderColor: #334155;
  --primaryBtn: #2DD4BF;
  --highlight: #14B8A6;
  --textPrimary: #F8FAFC
}

@theme  {
  --color-background: var(--background);
  --font-lexend: var(--font-lexend);
}



body {
  background: var(--background);
  color: var(--textPrimary);
  font-family: Arial, Helvetica, sans-serif;
}
@layer utilities {
  /* Firefox */
  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #f5f5f5 #1e5f8d; /* thumb track */
  }

  /* WebKit (Chrome, Safari, Edge) */
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar-custom::-webkit-scrollbar-track {
    background: #f7fafc;
  }
  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #cbd5e0;
    border-radius: 10px;
    border: 2px solid #f7fafc;
  }
}